.info
    background: $marron_escuro

.info a 
    color: $laranja_maisclaro
    transition: color 0.3s ease-in-out

.info a:hover 
    color: $laranja_escuro

#logo
    font-family: $fonte_principal
    color: $laranja_maisclaro
    word-spacing: 0.6rem

#logo a
    text-decoration: none
