#Recomendacao h1 
    color: $branco
    font-family: $fonte_principal

.recomendacao-item
    background: rgba(0,0,0,0.6)
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0 100%)

.recomendacao-item img
    width: 150px

.recomendacao-nome
    color: $branco
    font-family: $fonte_principal

.recomendacao-texto
    font-family: $fonte_texto
    text-align: justify