.sobre-conteudo h1 
    color: $amarelo_escuro

.sobre-conteudo h2 
    font-family: $fonte_texto
    color: $branco
    font-size: 1.3rem
    text-align: justify

.fotos-churrascaria
     transform: rotate(3deg)
     padding: 50px